.workspacePage{

    padding:20px;

}

.workspaceEmpty{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    height:70vh;

    text-align:center;

    color:#bbb;

}

.workspaceIcon{

    font-size:70px;

    margin-bottom:20px;

}

.workspaceCard{

    background:#181818;

    border:1px solid #2b2b2b;

    border-radius:15px;

    padding:18px;

    margin-bottom:15px;

    cursor:pointer;

    transition:.25s;

}

.workspaceCard:hover{

    border-color:#3b82f6;

}

.workspaceHeader{

    display:flex;

    align-items:center;

    gap:15px;

}

.workspaceFolder{

    width:55px;
    height:55px;

    border-radius:12px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:30px;

    background:#232323;

}

.workspaceHeader h3{

    color:white;

    margin:0;

}

.workspaceHeader small{

    color:#999;

}

.workspaceFooter{

    margin-top:15px;

    display:flex;

    justify-content:space-between;

    color:#888;

    font-size:13px;

}